h1 {
    font-size: 3.5vw;
}
body {
    margin: 0;
    padding: 0;
    background: url(../img/background.jpg) aquamarine;
}

* {
    font-family: font-family: 'Trocchi', serif;
    font-weight: normal;

